<h2>Order Confirmation</h2>

<p><strong>Order Status:</strong> <%= @order.status.upcase %></p>
<p><strong>Date Placed:</strong> <%= @order.orderdate %></p>

<%= render "shared/orderitems_table", obj: @order, cart: false %>
