/* --- Styling for Forms --- */

.form-wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  background: rgba(245, 245, 245, 0.8);
}

.form-field {
  padding: 10px;
}

.form-field label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 150px;
}

.form-field input,
.form-field textarea {
  border-radius: 10px;
  border: none;
  font-size: 0.75em;
  width: 50%;
  padding: 5px;
}

.submit-button {
  text-align: center;
}

.search-button input[type=submit],
.form-wrapper input[type=submit],
.checkout a,
.login a,
.browse-path a,
a.print,
a.button-link {
  width: 25%;
  border-radius: 20px;
  border: none;
  margin: 5px;
  font-family: 'Oswald';
  font-size: 14px;
  color: white;
  background-color: green;
  cursor: pointer;
}

.checkout a,
.login a,
.browse-path a,
a.print,
a.button-link {
  text-decoration: none;
  padding: 5px 10px;
}

.clear-cart input[type=submit],
.login a,
.browse-path a {
  background-color: dimgrey;
}

.search-button input[type=submit]:hover,
.form-wrapper input[type=submit]:hover,
.checkout a:hover,
.login a:hover,
.browse-path a:hover,
a.print:hover,
a.button-link:hover {
  background-color: black;
}

.search-button input[type=submit] {
  width: 10%;
}

.checkout,
.login,
.browse-path {
  margin: 15px 0;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.new-products-wrapper {
  text-align: center;
  margin-top: 30px;
}

.form-wrapper input[type=submit].category-button {
  font-size: 20px;
  padding: 0 0 35px 0;
  width: 25px;
  height: 25px;
}

.category-div {
  display: inline-block;
  width: 20%;
}

.category-wrapper {
  margin: 0 0 5px 0;
}
.category-wrapper h3 {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.add-new-category-wrapper {
  padding: 50px 0 0 0;
  text-align: center;
}


/* --- Styling for Cart --- */
.cart-wrapper {
  width: 75%;
  margin: 0 auto;
}

.cart-wrapper

.cart-summary {
  margin-bottom: 15px;
}

.cart-summary table {
  margin: 0 auto;
}

.cart-summary td {
  padding: 5px;
}


/* --- Styling for Confirmation Page --- */
.order-wrapper,
.cart-summary {
  text-align: center;
}

.order-wrapper table {
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.order-wrapper .order-totals {
  font-size: 20px;
  color: green;
}

.order-detail-links {
  text-decoration: none;
  color: dimgrey;
}

.order-detail-links:hover {
  color: black;
}

.browse-path {
  display: inline-block;
}

/* --- Forms Media Queries --- */

@media (max-width: 755px) {

  .form-field label {
    text-align: center;
  }

  .form-field label,
  .form-field input,
  .form-wrapper input[type=submit] {
    width: 100%;
  }

  .checkbox {
    height: 40px;
    width: 25%;
    margin: 0 auto;
  }

  .checkbox label, .checkbox input {
    width: 0;
    float: left;
  }

  .checkbox input {
    margin: 10% 10% 0 0;
  }

  .checkbox label {
    margin-left: 10px;
  }

  .form-wrapper input[type=submit] {
    margin: 0 auto;
  }

}
