/* --- Styling for Forms --- */

.form-wrapper {
  width: 40%;
  margin: 0 auto;
  padding: 25px;
  background: rgba(245, 245, 245, 0.8);
}

.form-field {
  padding: 10px;
}

.form-field label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
}

.form-field input {
  border-radius: 10px;
  border: none;
  font-size: 1em;
}

.form-wrapper input[type=submit] {
  color: white;
  background: green;
  border: none;
  font-family: 'Oswald';
  margin: 0;
  border-radius: 20px;
  margin-left: 125px;
}


/* --- Forms Media Queries --- */

@media (max-width: 755px) {

  .form-field label {
    text-align: center;
  }

  .form-field label,
  .form-field input[type=text],
  .form-wrapper input[type=submit] {
    width: 100%;
  }

  .checkbox {
    height: 40px;
    width: 25%;
    margin: 0 auto;
  }

  .checkbox label, .checkbox input {
    float: left;
  }

  .checkbox label {
    width: 0;
    margin-left: 10px;
  }

  .form-wrapper input[type=submit] {
    margin: 0 auto;
  }

}
