.profile-wrapper,
.merchant-stats {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  background: rgba(245, 245, 245, 0.8);
}

.profile-products {
  margin-top: 35px;
}

.profile-row {
  text-align: center;
}

.profile-row h4, .profile-row p {
  display: inline-block;
  margin: 0 3px;
}

.profile-row a {
  padding: 0 5%;
}

.user-links {
  margin-top: 3%;
}

.user-links a {
  width: 25%;
  border-radius: 20px;
  border: none;
  margin: 5px;
  padding: 5px 10px;
  font-family: 'Oswald';
  font-size: 14px;
  color: white;
  background-color: dimgrey;
  cursor: pointer;
  text-decoration: none;
}

.user-links a:hover {
  background-color: black;
}

.fulfillment-table {
  margin: 20px auto;
  text-align: center;
}

.fulfillment-table table tr {
  height: 55px;
}

.fulfillment-table table tr:first-child {
  background-color: whitesmoke;
}

.fulfillment-table table tr:first-child th {
  padding: 5px;
}

.profile-products h3 {
  text-align: center;
}
