<h2 class = "page-title">Categories:</h2>

<div class="category-list" >
<% @categories.each do |category| %>
  <%= link_to category.name.upcase, "categories/#{category.id}/products", class: "item-name" %><br/>
<% end %>
</div>

<div class="add-category-button">
  <% if session[:current_user_id] %>
<%= link_to "Add Category", new_category_path, class: "button-link" %>
  <% end %>
</div>
