<h2>Categories:</h2>

<% @categories.each do |category| %>
  <%= category.name.upcase %>
  <%= link_to "Select", "categories/#{category.id}/products" %><br/>
<% end %>

  <% if session[:current_user_id] %>
<%= link_to "Add Category", new_category_path %>
  <% end %>
