<div id="container">
<div id="slider-space">
    <div class="slides-container">
        <div>
            <img src="http://i.imgur.com/kLMCP.png" />
        </div>
        <div>
            <img src="http://i.imgur.com/aX675.png" />
        </div>
        <div>
            <img src="http://i.imgur.com/UyE1g.png" />
        </div>
        <div>
            <img src="http://i.imgur.com/uzc7c.png" />
        </div>
        <div>
            <img src="http://i.imgur.com/Zh8sQ.png" />
        </div>
    </div><!-- end of slides-container -->
</div><!-- end of slider-space -->
</div><!-- end of container -->
