<div>
<h1>Add a New Product</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="name">Product Name:</label>
  <input type="text" name="product[name]" value="" id="name">

  <label for="price">Price:</label>
  <input type="text" name="product[price]" value="" id="price">

  <label for="descrition">Description:</label>
  <input type="text" name="product[descrition]" value="" id="description">

  <label for="image_url">Image url:</label>
  <input type="text" name="product[image_url]" value="" id="image_url">

  <label for="stock">Number in stock:</label>
  <input type="text" name="product[stock]" value="" id="stock">
  
  <p><input type="submit" class = "submit-button" value="Submit"></p>
</form>
</div>
