<%= form_tag("/products/#{@product.id}/newcategory", method: "post") do %>

  <% @categories.each do |category| %>
    <%= check_box_tag("category[]", category.id) %>
    <%= label_tag(category.name) %>
  <% end %>

  <div class="submit-button">
    <%= submit_tag("Submit") %>
  </div>
<% end %>
