<h2 class = "page-title">Browse by Categories</h2>

<% @category.each do |category| %>

<span class="text-spacing">
  <span class="show-de-link"
  <%= link_to "#{category.name}", category_products_path(category.id) %>
  </span>
</span>
<% end %>


<h2 class = "page-title">Browse by Merchants</h2>

<% @userall.each do |user| %>
<span class="text-spacing">
  <span class="show-de-link"
  <%= link_to "#{user.name} ", user_category_path(user.id) %>
  </span>
</span>

<% end %>
