<h2 class = "page-title">Browse by Categories</h2>

<div>
<% @category.each do |category| %>
<span>
  <%= link_to "#{category.name}", category_products_path(category.id), {class: "text-spacing"} %>
</span>
<% end %>
</div>

<h2 class = "page-title">Browse by Merchants</h2>

<div>
<% @userall.each do |user| %>
<span>
  <%= link_to "#{user.name} ", user_category_path(user.id), {class: "text-spacing"} %>
</span>

<% end %>
</div>
